{% extends "base.html" %}
{% block content %}
<main style="flex: 1;">
    <h2 style="text-align: center;">Entrar no Sistema</h2>

    <div class="form-login" style="margin: 40px auto 20px; padding: 20px; max-width: 340px; width: 100%;">
        <form method="post" style="display: flex; flex-direction: column; gap: 10px;">
            {% csrf_token %}
            <label for="username">Nome de usuário:</label>
            <input type="text" id="username" name="username" required style="width: 100%; box-sizing: border-box;">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required style="width: 100%; box-sizing: border-box;">

            <button type="submit" style="width: 100%; box-sizing: border-box;">Entrar</button>
        </form>
    </div>

    <p style="text-align: center; margin-top: 20px;">Ainda não tem conta? <a href="{% url 'registrar_usuario' %}">Cadastre-se aqui</a></p>
</main>
{% endblock %}
