{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <h2>Senha alterada com sucesso!</h2>

    <p style="text-align: center;">Sua senha foi atualizada.</p>

    <div style="text-align: center; margin-top: 10px;">
        {% if request.user.perfil.tipo == 'voluntario' %}
            <a href="{% url 'home_voluntario' %}" class="botao">Voltar para a Página Inicial</a>
        {% else %}
            <a href="{% url 'home_doador' %}" class="botao">Voltar para a Página Inicial</a>
        {% endif %}
    </div>
</main>
{% endblock %}
